*.o
*.d
*.~pas
*.dcu
*.a
*.so
*.user
*.user.*
*DEPS
*.dylib
*.obj
*.mk
*.pp
*.opt
*.map
*.autosave
!*.out
!*.bin
**/.launches/
**/.metadata/
**/.settings/
**/.jxbrowser-data/
**/Release*/
**/Remote*/
!**/Debug*/
!**/src/
!**/source/
!**/inc*/
!*.cpp
!*.h
!*.txt
